* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

h1, h2, h3, h4, a {
	font-family: "Milonga", "Georgia", serif;
}

body {
	font-family: "Vollkorn", "Times New Roman", serif;
	font-size: 14pt;
}

header {

}

main {
	padding: 1em;
}

footer {
	text-align: center;
	margin: 1em 0;
}

#home-page section {
	margin-bottom: 2em;
}

#home-page section:last-child {
	margin-bottom: 0em;
}

#summary figure img {
	width: 100%;
	border-radius: 50%;
}


@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 1300px) {


}

@media only screen and (min-width: 1800px) {


}



