* {
	margin: 0;
	padding: 0;
}

ul {
	font-family: "Poppins", sans-serif;
	margin: 0 2em;
	display: flex;
	align-items: center;
}

li {
	padding: 0.3em 1em;
	margin: 0 0.3em;
	list-style: none;
	border-radius: 0.2em;
	border: 1px solid darkgreen;
	background: white;
	color: black;
}

li:hover {
	cursor: pointer;
	border: 1px solid darkgreen;
	color: white;
	background: darkgreen;

}

body {
	background-color: #84bc6a;
	background-image: url("../images/test.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 60vh;
	font-family: "Vollkorn", serif;
	font-size: 14pt;
	color: white;
	display: flex;
	flex-direction: column;
}

header, main, footer {
	display: flex;
}

header {
	justify-content: space-between;
}

header h1 {
	margin: 1em 1em;
	text-shadow: 0 0 0.2em black;
}


main {
	align-items: center;
}

main h2 {
	padding: 0.7em 1em;
	border-radius: 1em;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: justify;
	margin: 5vw 10vw;
	text-shadow: 0 0 0.2em black;
	line-height: 1.5em;

}

footer {
	justify-content: center;
}

footer p {

}

@media only screen and (min-width: 480px){
	
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}



